<div id='page-grid'>
  <div id="header-grid">
    <div id="fileName">
      <app-choose-file></app-choose-file>
    </div>
    <div id="sendToConverterButton">
      <app-save-test></app-save-test>
    </div>
      <div id="cog" >
        <i class="fa fa-cog fa-2x"></i>
      </div>

    <div id="help">
      <i class="fa fa-question fa-2x"></i>
    </div>
  </div>

  <main id="main-grid">
    <div id="text-table">
      <app-text-table></app-text-table>
    </div>

    <div id="table-footer">
      <div id="copy"><i class="fa fa-copyright"></i> Avas-2018</div>
      <div id="testStat"></div>
    </div>
  </main>

</div>
