#page-grid {
  min-height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px auto;
}

/*--------- header-секція -----------------*/
#header-grid {
  background-color: #3D80CC;
  display: grid;
  grid-template-columns: 20px 250px 30px 35px 120px auto 40px 40px 20px;
  align-self: center;
}

#fileName {
  grid-column: 2;
  background-color: wheat;
}

#fileNameButton {
  grid-column: 3;
  background-color: darkgray;
}

#sendToConverterButton {
  grid-column: 5;
  background-color: #cccccc;
}

#cog {
  grid-column: 7;
  background-color: tomato;
}

#help {
  grid-column: 8;
  background-color: wheat;
}

/*--------- main-секція -----------------*/
#main-grid {
  display: grid;
  background-color: #3D80CC;
  grid-template-columns: 20px auto 20px;
  grid-template-rows: auto 50px;
}

#text-table {
  grid-row-start: 1;
  grid-column-start: 2;
  background-color: #ffffff;
  height: 1000px;
}

/*--------- footer в main-секціі -----------------*/
#table-footer {
  grid-row-start: 2;
  grid-column-start: 2;
  background-color: #3D80CC;
  display: grid;
  grid-template-columns: 150px auto 300px;
}
/*--------- copyright в footer-table -----------------*/
#copy {
  grid-column-start: 1;
  background-color: #cccccc;
}
/*--------- статістіка в footer-table -----------------*/
#testStat{
  grid-column-start: 3;
  background-color: #cccccc;
}

