//:host {
//  padding: 48px;
//  display: block;
//  background: green;
//}
//
//
//.hover-anchor {
//  display: inline-block;
//  background: yellow;
//  padding: 8px;
//}

.tooltip-wrapper {
  //padding: 8px;
  background: blue;
  color: white;
  border-radius: 2px;
  //margin: 8px;
  font-size: 12px;
  position: relative;
  //top: -5px;
  right: 450px;
  width: 300px;
}

