/*
:host {
  padding: 48px;
  display: block;
  background: rgba(0,0,255,0.05);
}
*/

.hover-anchor {
  display: inline-block;
  background: rgba(0,0,0,0.1);
  padding: 8px;
}

.tooltip-wrapper {
  padding: 8px;
  background: rgba(0,0,0,0.7);
  color: white;
  border-radius: 2px;
  margin: 8px;
  font-size: 12px;
}
