.test-item{
  display: grid;
  grid-template-columns: auto;
  margin: 0 8px;
  background-color: white;
}
.test-answer, .test-question{
  background-color: transparent;
  vertical-align: top;
  /*font-family: Times, Geneva, sans-serif;*/
}

li, #number{
  color: lightgray;
}
