.test-item, .test-item-err {
  margin: 0 8px;
}
.test-item {
  background-color: white;
}
.test-item-err {
  background-color: pink;
}

.test-answer, .test-question {
  background-color: transparent;
  vertical-align: top;
  /*font-family: Times, Geneva, sans-serif;*/
}

li, #number {
  color: darkgray;
}
