.test-item, .test-item-err {
  margin: 0 8px;
}

.test-item {
  background-color: white;
}

.test-item-err {
  background-color: pink;
}

.test-answer, .test-question {
  background-color: transparent;
  vertical-align: top;
  /*font-family: Times, Geneva, sans-serif;*/
}

#test-item-grid {
  display: inline-grid;
  grid-template-columns: 30px auto 50px;

}

li, #number {
  color: darkgray;
}

#number {
  padding-left: 5px;
  padding-top: 2px;
}
