<!--todo сделать вывод statusMessage при наведении курсора на  item-->
<!--https://github.com/ncstate-sat/popover#satpopoveranchor-has-the-following-methods-and-outputs-->

<div [ngClass]="setItemClass(testItem.statusBad)">
  <div id="test-item-grid">
    <div id="number">
      {{number}}.&nbsp;
    </div>
    <textarea autosize class="test-question" [(ngModel)]="testItem.question"
              rows="1" cols="90%">
                <!--[cols]="adjustTextSize(testItem.question.length)" >-->
      </textarea>

    <div id="getMessage" *ngIf="testItem.statusBad"
    ngbPopover={{testItem.statusMessage}} placement="left"
    >
      <i class="fa fa-exclamation-circle fa-2x" style="color: red"></i>
      <!--<app-error-message *ngIf="showError"></app-error-message>-->
    </div>
  </div>

  <ol>
    <li *ngFor="let _  of testItem.answers; let i = index;">
      <textarea autosize [ngModel]="testItem.answers[i]"
                (change)="changeAnswer($event, i);"
                class="test-answer" rows="1" cols="80%">
      </textarea>
    </li>
  </ol>

</div>
