<div class="test-item">
  <div>
    <span style="vertical-align: top">{{number}}.</span>
    <textarea autosize class="test-question"  [(ngModel)]="testItem.question"
              contenteditable="true" rows="1" cols="90%"  wrap="hard" >
    </textarea>
  </div>
  <ol>
    <li *ngFor="let _  of testItem.answers; let i = index;" class="test-answer" >
      <textarea autosize [ngModel]="testItem.answers[i]"
                (change)="changeAnswer($event, i);"
                class="test-answer" rows="1" contenteditable="true" cols="90%"></textarea>
    </li>
  </ol>

</div>

